.test {
	padding-top: 60px;
}
.test-hidden {
	display: none;
}
.test__top {
	padding-bottom: 60px;
	text-align: center;
}
.test__icon {
	background: #a0a0a0;
	transition: 0.3s;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	width: 44px;
	min-width: 44px;
	height: 44px;
	border-radius: 50%;
	font-size: 18px;
}
.test-restart {
	display: inline-flex;
	align-items: center;
	font-size: 20px;
	cursor: pointer;
}
.test-restart__text {
	transition: 0.3s;
	color: #a0a0a0;
	font-weight: 400;
}
.test-restart .test__icon {
	margin-right: 10px;
}
.test-restart:hover .test-restart__text {
	color: #287793;
}
.test-restart:hover .test__icon {
	background: #287793;
}
.test__counter {
	text-align: center;
	margin-bottom: 10px;
}
.test-question {
	margin-bottom: 24px;
	text-align: center;
	position: relative;
	padding: 0 16px;
}
.test-question__wrapper {
	display: inline-block;
	padding: 0 16px;
	background: #ffffff;
	font-size: 28px;
	font-weight: 600;
	color: #287793;
	position: relative;
	z-index: 2;
}
.test-question::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	background: #287793;
	height: 1px;
}
.test__row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -5px;
}
.test__item {
	flex: 1;
	min-width: 33.3333%;
	padding: 0 5px 10px;
}
.test__button {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	text-align: center;
	transition: 0.3s;
	color:  #ffffff;
	font-size: 20px;
	font-weight: 600;
	background-color: #287793;
	cursor: pointer;
	min-height: 80px;
}
.test__button:hover {
	background-color: #97bed1;
}
.test-nav {
	display: flex;
	align-items: center;
	padding-top: 40px;
}
.test-nav__list {
	display: flex;
	flex-grow: 1;
	min-width: 0;
	position: relative;
	justify-content: space-between;
	margin: 0 40px;
}
.test-nav__list::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	background: #287793;
	height: 1px;
}
.test-nav__arrow {
	cursor: pointer;
}
.test-nav__arrow:hover .test__icon {
	background: #287793;
}
.test-nav__button {
	background: #ddd;
	transition: 0.3s;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	width: 32px;
	min-width: 32px;
	height: 32px;
	border-radius: 50%;
	position: relative;
	z-index: 2;
}
.test-nav__item.is-active .test-nav__button {
	background: #287793;
}
.test__block_hidden, .test-nav__button_hidden, .test-nav_hidden {
  display: none;
}
.test-result__row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px 40px;
}
.test-result__item {
	padding: 0 15px 20px;
	width: 50%;
	min-width: 50%;
}
.test-result__title {
	width: 100%;
	margin-bottom: 40px;
	text-align: center;
	font-size: 28px;
	font-weight: 600;
	color: #287793;
}
.test-result__text {
	text-align: justify;
	margin-bottom: 40px;
	background-color: #C8E4F2;
	padding: 48px;
	font-size: 14px; 
}
.test-result__list {
	display: flex;
	flex-wrap: wrap;
}
.test-result__unit {
	width: 50%;
	min-width: 50%;
	padding: 20px 20px 40px;
}
.test-product	{
	height: 100%;
	display: flex;
	flex-direction: column;
}
.test-product__name {
	font-size: 19px;
	font-weight: 500;
	color: #287793;
	text-align: center;
}
.test-product__image {
	display: block;
	text-align: center;
}
.test-product__description {
	flex-grow: 1;
	color: #a0a0a0;
	font-size: 14px;
	margin-bottom: 40px;
}
.test-product__price {
	font-size: 26px;
	font-weight: 700;
	color: #287793;
	margin-bottom: 20px;
	text-align: center;
}
.test-links {
	display: flex;
	margin:  0 -15px;
}
.test-links__item {
	padding: 0 15px 10px;
	text-align: center;
	width: 50%;
	min-width: 50%;
}
.test-links .btn {
	min-height: 42px;
	height: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
}
.test-form {
	display: none;
	max-width: 600px;
	padding: 30px;
	border: 1px solid #ddd;
	background: #f1f1f1;
	margin: 20px auto 0;
}
.test-form__field {
	margin-bottom: 24px;
}
@media screen and (max-width: 900px){
.test-result__item {
	width: 100%;
	min-width: 100%;
}
}

@media screen and (max-width: 768px){
.test__row {
	justify-content: center;
}
.test__item {
	flex: 0;
	min-width: 50%;
	width: 50%;
}
.test-result__text {
	padding: 16px;
}
}
@media screen and (max-width: 600px){
.test__item {
	min-width: 100%;
	width: 100%;
}
.test-nav {
	flex-wrap: wrap;
	justify-content: space-around;
}
.test-nav__arrow {
	order: 1;
}
.test-nav__list {
	width: 100%;
	min-width: 100%;
	margin: 0 0 16px;
}
.test-nav__list::before {
	display: none;
}
.test-nav__button {
	width: 18px;
	min-width: 18px;
	height: 18px;
	font-size: 12px;
}
.test__button {
	padding: 16px;
	font-size: 16px;
	min-height: 0;
}
.test {
	padding-top: 0;
}
.test__top {
	padding-bottom: 20px;
}
.test-question__wrapper {
	font-size: 24px;
}
}
@media screen and (max-width: 400px){
.test-product {
	width: 100%;
	min-width: 100%;
}	
}